<% if policy(@user).issue_aws_credentials? %>
    <h4> AWS Credentials </h4>

    <% if @user.aws_access_key.nil? || @user.aws_access_key == '' %>
        <div> You do not have AWS credentials yet. </div>
        <br />
        <div>
          <%= link_to 'Generate AWS Credentials',
                      issue_aws_creds_for_user_path(@user),
                      class: 'btn doc-action-btn btn-normal',
                      method: :get %>
        </div>
    <% elsif !@acc_key_id.nil? %>
        <div> You have just generated new AWS credentials. </div>
        <p> Your new AWS access key is: <%= @acc_key_id %></p>
        <p> Your new AWS secret key is: <%= @secret_key %> </p>
        <p> Please note that your secret key will not be stored in Pharos and will never be displayed again. </p>
        <br>
        You should treat your AWS secret key the same way you would treat a password:
        <ul>
          <li> Don't share it with other people </li>
          <li> Don't send it over email or other insecure communications </li>
          <li> Use proper file protections (e.g. chmod) so that other people cannot read it from your configuration files or scripts </li>
        </ul>
    <% else %>
        <% if @user == current_user %>
            <div>You already have AWS credentials. Your AWS access key is: <%= current_user.aws_access_key %></div>
            <br>
        <% else %>
            <div>This user already has AWS credentials.</div>
            <br>
        <% end %>
    <% end %>

<% end %>