<% if policy(@user).revoke_aws_credentials? %>
    <h4> Revoke AWS Credentials </h4>

    <% if @user.aws_access_key.nil? || @user.aws_access_key == '' %>
        <div> This user does not have AWS credentials. </div>
    <% else %>
        <div> This user has AWS Credentials. </div>
        <%= link_to 'Revoke AWS Credentials',
                    revoke_aws_creds_for_user_path(@user),
                    class: 'btn doc-action-btn btn-danger',
                    method: :get,
                    data: { confirm: "Are you sure you wish to revoke this user's AWS credentials?" } %>
    <% end %>

<% end %>